.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* start my working */

.navbar{
  text-align: right;
  font-weight: bold;
  padding: 5px 15px;
  font-size: larger;

}

.navbar .active{
  color: skyblue;
}
.navbar li{
  display: inline-block;
  padding: 10px 5px;

}

.nablink{
  text-decoration: none;
  color: black;
}

.nablink:hover{
  color: rgb(148, 179, 14);
}
/* end my working  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
